/* styles/Detail.module.css */

.detail-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #1a1a1a; /* Fondo oscuro para consistencia */
    color: #ffffff; /* Texto claro para contraste */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.detail-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    
}

.detail-header h1 {
    font-size:2rem;
    font-weight: bold;
    color: #e6e6e6;
    text-align: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
}

.action-links {
    text-align: center;
    margin-top: 2rem;
}

.action-links a {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #7a30c4; /* Bot칩n verde */
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.action-links a:hover {
    background-color: #6434b2; /* Verde m치s oscuro al pasar el cursor */
}

/* AddToCart Button */
.add-to-cart {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-to-cart button {
    padding: 0.8rem 1.5rem;
    background-color: #7a30c4; /* Bot칩n anaranjado */
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart button:hover {
    background-color: #ffffff45; /* Anaranjado m치s oscuro */
}

